In [ ]:
# raw_estados
# Este notebook cria a camada raw da base de estados.

In [1]:
%run ../spark-default.py

In [2]:
spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic")

In [4]:
estados = spark.read.option("header", True).option("sep", ";").option("encoding", "ISO-8859-1").csv("s3a://datalake/source/estados/estados.csv")

estados.printSchema()

estados = estados.select(
    col("COD_UF").alias("cod_uf"),
    col("NOME_UF").alias("nome_uf"),
    col("REGIAO").alias("regiao"),
    col("SIGLA").alias("sigla")
)

print(estados.count())

estados.show()

root
 |-- COD_UF: string (nullable = true)
 |-- NOME_UF: string (nullable = true)
 |-- REGIAO: string (nullable = true)
 |-- SIGLA: string (nullable = true)

27
+------+-------------------+--------+-----+
|cod_uf|            nome_uf|  regiao|sigla|
+------+-------------------+--------+-----+
|    11|           Rondônia|   Norte|   RO|
|    12|               Acre|   Norte|   AC|
|    13|           Amazonas|   Norte|   AM|
|    14|            Roraima|   Norte|   RR|
|    15|               Pará|   Norte|   PA|
|    16|              Amapá|   Norte|   AP|
|    17|          Tocantins|   Norte|   TO|
|    21|           Maranhão|Nordeste|   MA|
|    22|              Piauí|Nordeste|   PI|
|    23|              Ceará|Nordeste|   CE|
|    24|Rio Grande do Norte|Nordeste|   RN|
|    25|            Paraíba|Nordeste|   PB|
|    26|         Pernambuco|Nordeste|   PE|
|    27|            Alagoas|Nordeste|   AL|
|    28|            Sergipe|Nordeste|   SE|
|    29|              Bahia|Nordeste|   BA|
|    31|       Minas Gerais| Sudeste|   MG|
|    32|     Espírito Santo| Sudeste|   ES|
|    33|     Rio de Janeiro| Sudeste|   RJ|
|    35|          São Paulo| Sudeste|   SP|
+------+-------------------+--------+-----+
only showing top 20 rows

In [5]:
estados.write.parquet("s3a://datalake/raw/estados/")

In [13]:
spark.stop()